h1{
     font-family: 'Special Elite', cursive;
     text-align: center ;
     padding-top: 1%;
     margin-bottom: 1%;
}
*{
   font-family:  'Poppins', sans-serif;
   
}
.panel-default{
   background-color:#113333; 
   color:whitesmoke;
   padding: 1%;
}
.panel-heading {
 padding-left: 1%;

}
.col-md-8{
   padding-left: 2%;
}

.row {
   padding:1%;
   padding-top: 2%;
}


img{
   height: 300px;
   width: 290px;
    
 }
 .container-body{
   background-color:#113333;
   color: whitesmoke;
 }
 .btn{
    color: beige;
 }
 button{
    background-color: #66cccc;
    border-radius: 5px;
    box-shadow: black;
 }
.panel{
   background-color: rgb(75, 74, 74);
}
 



