h1{
     font-family: 'Special Elite', cursive;
     text-align: center ;
     padding-top: 2%;
     margin-bottom: 5px;
}
*{
   font-family:  'Poppins', sans-serif;
   
}
.panel-default{
   background-color:#113333; 
   color:whitesmoke;
   padding: 1%;
}
.panel-heading {
 padding-left: 1%;

}
.panel-title::after {
   border-bottom: 0.2em solid #113333;
   content:"";
   display:block;
   width: 5em;
   max-width:70%;
   margin: 0.5em auto 0;
  }

.col-md-8{
   padding-left: 2%;
}

.row {
   padding:1%;
   padding-top: 2%;
}
img{
   height: 300px;
   width: 290px;   
 }
.icon{
   height: 85px;
   width: 60px;
   padding-bottom: 30px;
 }
 .container-body{
   background-color:#113333;
   color: whitesmoke;
 }
 .btn{
    color: rgb(61, 60, 60);
 }
 button{
    background-color: #66cccc;
    border-radius: 5px;

 }
a {
   color:#113333;
   text-decoration: none;
   font-weight:600;
}
 



